Repository fcs-proj/FastCaloSim, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-build, workflows, tests, parametrization, cmake

Null-check ROOT file and histogram in load_phi_modulation
  source/Core/TFCSPhiModulationCorrection.cxx
Labels: none

Bounds-check Ebin against PCA tables in covariance fluctuations
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
Labels: none

Fix stale doc comment on get_layer_energy
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerBase.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
Labels: none

Call delete_event at start of simulate to prevent per-event leak
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
Labels: none

Require CMake 3.19 and drop redundant HDF5_FOUND check
  CMakeLists.txt
  cmake/docs-ci.cmake
  cmake/lint.cmake
  cmake/spell.cmake
  param/CMakeLists.txt
  test/CMakeLists.txt
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/CMakeLists.txt
  test/TestPlugins/ATLAS/ATLASMagneticFieldMapPlugin/CMakeLists.txt
  test/g4app/CMakeLists.txt
Labels: tests, cmake

Include <string> directly in new headers
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Core/TFCSVoxelHistoLateralCovarianceFluctuations.h
Labels: none

Validate setInputShapes inputs in TFCSMLCalorimeterSimulator
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
Labels: none

Fix phi cell-size lookup for negative-eta endcap
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
Labels: none

Add binned shower code (#84)
  CMakeLists.txt
  cmake/docs-ci.cmake
  cmake/lint.cmake
  cmake/spell.cmake
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerBase.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationFixedHitChain.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitBase.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitChain.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Core/TFCSVoxelHistoLateralCovarianceFluctuations.h
  include/FastCaloSim/LinkDef.h
  param/CMakeLists.txt
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSLateralShapeParametrizationFixedHitChain.cxx
  source/Core/TFCSLateralShapeParametrizationHitChain.cxx
  source/Core/TFCSMLCalorimeterSimulator.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
  test/CMakeLists.txt
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/CMakeLists.txt
  test/TestPlugins/ATLAS/ATLASMagneticFieldMapPlugin/CMakeLists.txt
  test/g4app/CMakeLists.txt
Labels: tests, cmake

deploy: e7101f4e4e76320fba71057e8011de4e1850755f
  TFCSBinnedShowerBase_8h.html
  TFCSBinnedShowerONNX_8h.html
  TFCSBinnedShower_8h.html
  TFCSLateralShapeParametrizationFixedHitChain_8h.html
  TFCSMLCalorimeterSimulator_8h.html
  TFCSPhiModulationCorrection_8h.html
  TFCSVoxelHistoLateralCovarianceFluctuations_8h.html
  annotated.html
  classISF__FCS_1_1MLogging.html
  classTFCSBinnedShower.html
  classTFCSBinnedShowerBase.html
  classTFCSBinnedShowerONNX.html
  classTFCSLateralShapeParametrizationFixedHitChain.html
  classTFCSLateralShapeParametrizationHitBase.html
  classTFCSLateralShapeParametrizationHitBase_1_1Hit.html
  classTFCSLateralShapeParametrizationHitChain.html
  classTFCSMLCalorimeterSimulator.html
  classTFCSPhiModulationCorrection.html
  classTFCSVoxelHistoLateralCovarianceFluctuations.html
  dir_f53789fc1a2c3da2e63c760ac6630d4b.html
  files.html
  searchdata-v1.js
  structTFCSBinnedShowerONNX_1_1layer__bins__t.html
  structTFCSBinnedShower_1_1event__t.html
  structTFCSBinnedShower_1_1layer__bins__t.html
  structTFCSBinnedShower_1_1layer__t.html
  structTFCSMLCalorimeterSimulator_1_1event__t.html
  structTFCSMLCalorimeterSimulator_1_1layer__t.html
Labels: none

Make particle data charge lookup pluggable by experiments
  CMakeLists.txt
  include/FastCaloSim/Definitions/ParticleData.h
  source/Definitions/CMakeLists.txt
  source/Definitions/ParticleData.cxx
Labels: cmake

Make code more robust
  include/FastCaloSim/Definitions/ParticleData.h
  source/Definitions/ParticleData.cxx
Labels: none

Make particle data charge lookup pluggable by experiments (#92)
  CMakeLists.txt
  include/FastCaloSim/Definitions/ParticleData.h
  source/Definitions/CMakeLists.txt
  source/Definitions/ParticleData.cxx
Labels: cmake

Make CaloGeo geometry query path thread-safe for AthenaMT
  include/FastCaloSim/Geometry/CellCache.h
  include/FastCaloSim/Geometry/CellStore.h
  include/FastCaloSim/Geometry/RTreeQuery.h
  source/Geometry/RTreeQuery.cxx
Labels: none

deploy: c1b488f39f680a126529541f4713b6f70271cab4
  annotated.html
  classParticleData_1_1Provider.html
  namespaceParticleData.html
  searchdata-v1.js
Labels: none

Make code more robust
  include/FastCaloSim/Geometry/CellStore.h
  include/FastCaloSim/Geometry/RTreeQuery.h
  source/Geometry/RTreeQuery.cxx
Labels: none

Make CaloGeo geometry query path thread-safe for AthenaMT (#93)
  include/FastCaloSim/Geometry/CellCache.h
  include/FastCaloSim/Geometry/CellStore.h
  include/FastCaloSim/Geometry/RTreeQuery.h
  source/Geometry/RTreeQuery.cxx
Labels: none

Remove unused cell store cache_size parameter
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/CellStore.h
  source/Geometry/CaloGeo.cxx
  test/include/AtlasGeoTests.h
Labels: tests

deploy: d04d5cc8f61bb0c92806f76c4b1779a8257fddbe
  CellCache_8h.html
  annotated.html
  classCaloGeo.html
  classCellStore.html
  classRTreeQuery.html
  classcache_1_1CellCache.html
  dir_d22115def6822a1b9973e90174884e74.html
  files.html
  namespacecache.html
  namespaces.html
  searchdata-v1.js
Labels: none

deploy: 4d6f4ee7aa6aa155cc9d586e23014d3917abbea9
  classCaloGeo.html
  classCellStore.html
  searchdata-v1.js
Labels: none

Attempt to fix ST vs. MT diferences of G4CaloTransportTool
  include/FastCaloSim/Transport/G4CaloTransportTool.h
  source/Transport/G4CaloTransportTool.cxx
Labels: none

Fix ST vs. MT diferences of G4CaloTransportTool (#94)
  include/FastCaloSim/Transport/G4CaloTransportTool.h
  source/Transport/G4CaloTransportTool.cxx
Labels: none

deploy: 6438635b5f483ab8441024629d57851d9d3f6e6b
  classCaloGeo.html
  classCellStore.html
  searchdata-v1.js
Labels: none

Build G4CaloTransportTool world volume once on master thread in MT
  include/FastCaloSim/Transport/G4CaloTransportTool.h
  source/Transport/G4CaloTransportTool.cxx
  test/g4app/src/FastSimModel.cc
Labels: tests

Build G4CaloTransportTool world volume once on master thread in MT (#95)
  include/FastCaloSim/Transport/G4CaloTransportTool.h
  source/Transport/G4CaloTransportTool.cxx
  test/g4app/src/FastSimModel.cc
Labels: tests

Build G4CaloTransportTool world volume once on master thread in MT
  source/Transport/G4CaloTransportTool.cxx
Labels: none

deploy: 9d9554a9b1affa4d59a791ea3717fb67f37ff6c7
  classG4CaloTransportTool.html
  searchdata-v1.js
Labels: none

(feature):Support an opt-in static library build (BUILD_SHARED_LIBS)
  .github/workflows/pipeline.yml
  CMakeLists.txt
  CMakePresets.json
  cmake/install-rules.cmake
  test/static-embed/CMakeLists.txt
  test/static-embed/main.cxx
  test/static-embed/probe.cxx
Labels: tests, cmake

Fix
  test/static-embed/probe.cxx
Labels: tests

feat(lib): Support an opt-in static library build (BUILD_SHARED_LIBS) (#96)
  .github/workflows/pipeline.yml
  CMakeLists.txt
  CMakePresets.json
  cmake/install-rules.cmake
  test/static-embed/CMakeLists.txt
  test/static-embed/main.cxx
  test/static-embed/probe.cxx
Labels: tests, cmake

fix(lib): Keep MLogging out of the ROOT dictionary so logging-only consumers stay light
  CMakeLists.txt
  include/FastCaloSim/Core/MLogging.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  include/FastCaloSim/LinkDef.h
  source/Core/MLogging.cxx
  test/static-light/CMakeLists.txt
  test/static-light/light_consumer.cxx
  test/static-light/main.cxx
Labels: tests, cmake

fix(lib): Keep MLogging out of the ROOT dictionary so logging-only consumers stay light (#97)
  CMakeLists.txt
  include/FastCaloSim/Core/MLogging.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  include/FastCaloSim/LinkDef.h
  source/Core/MLogging.cxx
  test/static-light/CMakeLists.txt
  test/static-light/light_consumer.cxx
  test/static-light/main.cxx
Labels: tests, cmake

fix(cmake): Export lwtnn and libxml2 as real targets so the package stays relocatable
  CMakeLists.txt
  cmake/modules/Findlibxml.cmake
  cmake/modules/Findlwtnn.cmake
Labels: cmake

Fix CI
  param/CMakeLists.txt
Labels: cmake

fix(cmake): Export lwtnn and libxml2 as real targets so the package stay relocatable (#98)
  CMakeLists.txt
  cmake/modules/Findlibxml.cmake
  cmake/modules/Findlwtnn.cmake
  param/CMakeLists.txt
Labels: cmake

fix(lib): Bump ClassDef version on classes inheriting MLogging after its dictionary removal
  include/FastCaloSim/Core/TFCSExtrapolationState.h
  include/FastCaloSim/Core/TFCSFunction.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Core/TFCSTruthState.h
  include/FastCaloSim/Core/VNetworkBase.h
Labels: none

Revert "fix(lib): Bump ClassDef version on classes inheriting MLogging after its dictionary removal"
  include/FastCaloSim/Core/TFCSExtrapolationState.h
  include/FastCaloSim/Core/TFCSFunction.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Core/TFCSTruthState.h
  include/FastCaloSim/Core/VNetworkBase.h
Labels: none

Revert "fix(lib): Keep MLogging out of the ROOT dictionary so logging-only consumers stay light (#97)"
  CMakeLists.txt
  include/FastCaloSim/Core/MLogging.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  include/FastCaloSim/LinkDef.h
  source/Core/MLogging.cxx
  test/static-light/CMakeLists.txt
  test/static-light/light_consumer.cxx
  test/static-light/main.cxx
Labels: tests, cmake

fix(lib): Restore default-value semantics for TFCSSimulationState/TFCSExtrapolationState accessors
  include/FastCaloSim/Core/TFCSExtrapolationState.h
  include/FastCaloSim/Core/TFCSSimulationState.h
  source/Core/TFCSExtrapolationState.cxx
Labels: none

fix(lib): Restore default-value semantics for TFCSSimulationState/TFCSExtrapolationState accessors (#99)
  include/FastCaloSim/Core/TFCSExtrapolationState.h
  include/FastCaloSim/Core/TFCSSimulationState.h
  source/Core/TFCSExtrapolationState.cxx
Labels: none

.github/labeler.yml:

docker-build:
- changed-files:
  - any-glob-to-any-file:
    - docker/**

workflows:
- changed-files:
  - any-glob-to-any-file:
    - workflows/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

parametrization:
- changed-files:
  - any-glob-to-any-file:
    - parametrization/**

cmake:
- changed-files:
  - any-glob-to-any-file:
    - cmake/**
  - any-glob-to-any-file:
    - '**/CMake*.txt'
