Repository fcs-proj/FastCaloSim, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-build, workflows, tests, parametrization, cmake

.github/labeler.yml:

docker-build:
- changed-files:
  - any-glob-to-any-file:
    - docker/**

workflows:
- changed-files:
  - any-glob-to-any-file:
    - workflows/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

parametrization:
- changed-files:
  - any-glob-to-any-file:
    - parametrization/**

cmake:
- changed-files:
  - any-glob-to-any-file:
    - cmake/**
  - any-glob-to-any-file:
    - '**/CMake*.txt'

Fixes
  CMakePresets.json
  include/FastCaloSim/Geometry/Cell.h
  test/TestHelpers/SimStateContainer.h
  test/source/BasicExtrapolTests.cxx
Labels: tests

Fixes
  include/FastCaloSim/Geometry/Cell.h
  source/Geometry/CaloGeo.cxx
Labels: none

Fixes
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/Cell.h
  source/Geometry/CaloGeo.cxx
Labels: none

Fixes
  CMakePresets.json
  test/source/BasicExtrapolTests.cxx
Labels: tests

Fixes
  source/Geometry/CaloGeo.cxx
  test/TestHelpers/SimStateContainer.h
Labels: tests

Optimize cell data types (#71)
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/Cell.h
  source/Core/TFCSEnergyRenormalization.cxx
  source/Core/TFCSSimulationState.cxx
  source/Geometry/CaloGeo.cxx
  test/TestHelpers/SimStateContainer.h
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
  test/data/geometry/ATLAS/ATLAS-R3S-2021-03-02-00/CaloCells.root
Labels: tests

deploy: 961dda60cbb7afb3c94d1366377c088f0d74b58d
  classCaloGeo.html
  classCell.html
  classTFCSSimulationState.html
  searchdata-v1.js
Labels: none

Optimize cell reading
  source/Geometry/CaloGeo.cxx
Labels: none

Fixes
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/include/AtlasGeoTests.h
Labels: tests

Optimize cell reading (#72)
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/include/AtlasGeoTests.h
Labels: tests

deploy: 19ad265803de5db1e1c943038fee71b70e01b156
  classCaloGeo.html
  searchdata-v1.js
Labels: none

Implement packing alg for R-tree creation
  include/FastCaloSim/Geometry/RTree.h
  source/Geometry/CaloGeo.cxx
Labels: none

Add cell accessor back
  include/FastCaloSim/Geometry/RTree.h
Labels: none

Memory optimizations
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/RTree.h
  source/Geometry/CaloGeo.cxx
  test/source/AtlasGeoTests.cxx
Labels: tests

Add apptainer readme
  README.md
  apptainer.sh
Labels: none

Add apptainer readme
  README.md
Labels: none

deploy: f5d3bfb71effa0ced19a52e7e23460b9c9e876b0
  index.html
Labels: none

deploy: 7c3b8ce854e5e5ec9676d13691bf40232904bf46
  index.html
Labels: none

Fix apptainer config
  README.md
  apptainer.sh
Labels: none

Fix apptainer command
  apptainer.sh
Labels: none

Update README.md
  README.md
Labels: none

deploy: 619534a34a292501a5c4bddeef4e4c2915412804
  index.html
Labels: none

deploy: 0679d2877335dc2fe835f479032a66b88ee9327b
  index.html
Labels: none

Add apptainer readme
  README.md
  apptainer.sh
Labels: none

Fix apptainer command
  apptainer.sh
Labels: none

Fix apptainer config
  README.md
  apptainer.sh
Labels: none

Update README.md
  README.md
Labels: none

Add apptainer readme
  README.md
Labels: none

Update references
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/RTree.h
  source/Geometry/CaloGeo.cxx
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.png
Labels: tests

Implement packing alg for R-tree creation (#73)
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/RTree.h
  source/Geometry/CaloGeo.cxx
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E16384_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.png
  test/source/AtlasGeoTests.cxx
Labels: tests

deploy: f4bb0b54d8f4dd6367f33d9fdcf88d21e32cfa44
  classCaloGeo.html
  classRTree.html
  index.html
  searchdata-v1.js
Labels: none

RTree with libspatialindex
  CMakeLists.txt
  cmake/modules/Findlibspatialindex.cmake
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/RTree.h
  include/FastCaloSim/Geometry/RTreeBuilder.h
  include/FastCaloSim/Geometry/RTreeHelpers.h
  include/FastCaloSim/Geometry/RTreeQuery.h
  source/Geometry/CaloGeo.cxx
  source/Geometry/RTree.cxx
  source/Geometry/RTreeBuilder.cxx
  source/Geometry/RTreeQuery.cxx
  test/CMakeLists.txt
Labels: tests, cmake

RTree with libspatialindex
  source/Geometry/CaloGeo.cxx
Labels: none

RTree with libspatialindex
  include/FastCaloSim/Geometry/RTree.h
  include/FastCaloSim/Geometry/RTreeQuery.h
  source/Geometry/RTree.cxx
  source/Geometry/RTreeQuery.cxx
Labels: none

Performance optimization
  include/FastCaloSim/Geometry/RTreeBuilder.h
  source/Geometry/CaloGeo.cxx
  source/Geometry/RTreeBuilder.cxx
  source/Geometry/RTreeQuery.cxx
Labels: none

Fixes
  cmake/modules/Findlibspatialindex.cmake
  include/FastCaloSim/Geometry/RTree.h
  source/Geometry/RTree.cxx
  source/Geometry/RTreeBuilder.cxx
Labels: cmake

Fixes
  cmake/modules/Findlibspatialindex.cmake
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/include/AtlasGeoTests.h
Labels: tests, cmake

Fixes
  cmake/modules/Findlibspatialindex.cmake
  include/FastCaloSim/Geometry/RTree.h
Labels: cmake

Fixes
  source/Geometry/CaloGeo.cxx
Labels: none

Update references
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta145/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta145/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.png
Labels: tests
