Repository fcs-proj/FastCaloSim, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-build, workflows, tests, parametrization, cmake

.github/labeler.yml:

docker-build:
- changed-files:
  - any-glob-to-any-file:
    - docker/**

workflows:
- changed-files:
  - any-glob-to-any-file:
    - workflows/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

parametrization:
- changed-files:
  - any-glob-to-any-file:
    - parametrization/**

cmake:
- changed-files:
  - any-glob-to-any-file:
    - cmake/**
  - any-glob-to-any-file:
    - '**/CMake*.txt'

Migrate pre-commit config
  .pre-commit-config.yaml
Labels: none

Improve CI robustness (#64)
  .github/workflows/docker-promote.yml
  .github/workflows/pipeline.yml
  .github/workflows/pr-opened.yml
  docker/alma9/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Directly use main images in CI
  .devcontainer/devcontainer.json
  .github/workflows/docker-promote.yml
  .github/workflows/pipeline.yml
Labels: none

Update README
  README.md
Labels: none

Add arm64 test
  .github/workflows/pipeline.yml
Labels: none

Add arm64 test
  .github/workflows/pipeline.yml
Labels: none

Remove lint dependency in job
  .github/workflows/pipeline.yml
Labels: none

Fix ci conditional
  .github/workflows/pipeline.yml
Labels: none

Add arm64 test
  .github/workflows/pipeline.yml
Labels: none

Update pipeline.yml
  .github/workflows/pipeline.yml
Labels: none

Remove fcf-protection
  CMakePresets.json
Labels: none

Deactivate fast fail strategy
  .github/workflows/pipeline.yml
Labels: none

Deactivate fail-fast strategy
  .github/workflows/pipeline.yml
Labels: none

Test strict floating-point settings
  CMakePresets.json
Labels: none

Fix
  CMakePresets.json
Labels: none

Fix
  CMakePresets.json
Labels: none

Fix
  CMakePresets.json
Labels: none

Fix
  CMakePresets.json
Labels: none

Add compatibility for arm64 (#65)
  .github/workflows/pipeline.yml
  CMakePresets.json
Labels: none

Update docker-build.yml
  .github/workflows/docker-build.yml
Labels: none

Fix std::pair warning on arm
  source/Core/TFCSEnergyInterpolationPiecewiseLinear.cxx
Labels: none

Fix std::pair warning on arm (#66)
  source/Core/TFCSEnergyInterpolationPiecewiseLinear.cxx
Labels: none

Activate docs deployment
  .github/workflows/pipeline.yml
Labels: none

Activate docs deployment
  .github/workflows/pipeline.yml
Labels: none

Fix docs
  .github/workflows/pipeline.yml
Labels: none

Fix docs
  .github/workflows/pipeline.yml
Labels: none

Update pre-commit config
  .pre-commit-config.yaml
Labels: none

Fix docs permissions
  .github/workflows/pipeline.yml
Labels: none

Add dedicated pip package dir
  docker/alma9/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Use venv
  docker/alma9/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Add dedicated pyenv to docker (#67)
  docker/alma9/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Fix potential mem issue in TFCSLateralShapeParametrizationHitChain
  source/Core/TFCSLateralShapeParametrizationHitChain.cxx
Labels: none

Fix potential mem issue in TFCSLateralShapeParametrizationHitChain (#68)
  source/Core/TFCSLateralShapeParametrizationHitChain.cxx
Labels: none

Fixes
  .github/workflows/pipeline.yml
Labels: none

Fixes
  .github/workflows/pipeline.yml
Labels: none

deploy: ca0c9b71caaf171d5993dcca81324b723e3ab5ce
  classCell.html
  searchdata-v1.js
Labels: none

Switch cs flags to boolean
  source/Geometry/CaloGeo.cxx
  test/data/geometry/ATLAS/ATLAS-R3S-2021-03-02-00/CaloCells.root
Labels: tests

Fix formatting
  source/Geometry/CaloGeo.cxx
Labels: none

Switch cs flags to boolean (#70)
  source/Geometry/CaloGeo.cxx
  test/data/geometry/ATLAS/ATLAS-R3S-2021-03-02-00/CaloCells.root
Labels: tests

Optimize cell data types
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/Cell.h
  source/Core/TFCSEnergyRenormalization.cxx
  source/Core/TFCSSimulationState.cxx
  source/Geometry/CaloGeo.cxx
  test/TestHelpers/SimStateContainer.h
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
  test/data/geometry/ATLAS/ATLAS-R3S-2021-03-02-00/CaloCells.root
Labels: tests
