Repository fcs-proj/FastCaloSim, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-build, workflows, tests, parametrization, cmake

.github/labeler.yml:

docker-build:
- changed-files:
  - any-glob-to-any-file:
    - docker/**

workflows:
- changed-files:
  - any-glob-to-any-file:
    - workflows/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

parametrization:
- changed-files:
  - any-glob-to-any-file:
    - parametrization/**

cmake:
- changed-files:
  - any-glob-to-any-file:
    - cmake/**
  - any-glob-to-any-file:
    - '**/CMake*.txt'

Update ONNXRUNTIME_VERSION to 1.24.4
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Make extra-package install more consistent
  docker/alma10/Dockerfile
  docker/alma10/extra_packages.txt
  docker/alma10/root_dependencies.txt
  docker/ubuntu24/Dockerfile
  docker/ubuntu24/extra_packages.txt
  docker/ubuntu24/root_dependencies.txt
Labels: docker-build

Add libpcre3-dev
  docker/ubuntu24/extra_packages.txt
Labels: docker-build

Add --compile_no_warning_as_error for onnx build
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Minor improvements
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Increase Geant4 data download timeout
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Minor revisions
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Bump action versions and set ignore-error=true in cache
  .github/workflows/docker-build.yml
Labels: none

fix: add ldconfig to update dynamic linker cache for /usr/local/lib
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Formatting improvements
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Linting updates - clang-format 20 from el10
  include/FastCaloSim/Core/TFCSHistoLateralShapeGausLogWeight.h
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/TestHelpers/ParticleSampler.h
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
Labels: tests

Linting updates - clang-format 20 from el10
  include/FastCaloSim/Core/TFCSHistoLateralShapeGausLogWeight.h
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/TestHelpers/ParticleSampler.h
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
Labels: tests

fix: ignore lcov mismatch errors for GCC 14 compatibility
  cmake/coverage.cmake
Labels: cmake

Fix linting
  include/FastCaloSim/Core/TFCSHistoLateralShapeGausLogWeight.h
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/TestHelpers/ParticleSampler.h
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
Labels: tests

Fix coverage
  cmake/coverage.cmake
Labels: cmake

Update dev images from AlmaLinux 9 to AlmaLinux 10 (#87)
  .devcontainer/devcontainer.json
  .github/workflows/docker-build.yml
  .github/workflows/pipeline.yml
  README.md
  apptainer.sh
  cmake/coverage.cmake
  docker/alma10/Dockerfile
  docker/alma10/extra_packages.txt
  docker/alma10/python_packages.txt
  docker/alma10/root_dependencies.txt
  docker/alma9/Dockerfile
  docker/ubuntu24/extra_packages.txt
  docker/ubuntu24/root_dependencies.txt
  include/FastCaloSim/Core/TFCSHistoLateralShapeGausLogWeight.h
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/TestHelpers/ParticleSampler.h
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
Labels: docker-build, tests, cmake

deploy: 71ed126a4e23876fda647a87ae6782eace6faf6a
  index.html
Labels: none

Add HDF5 dependency to dev containers
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Add HDF5 dependency to dev containers (#89)
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Fix geo handling in binned shower
  include/FastCaloSim/Core/TFCSBinnedShowerBase.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
Labels: none

Add binned shower code
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerBase.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationFixedHitChain.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitBase.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitChain.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Core/TFCSVoxelHistoLateralCovarianceFluctuations.h
  include/FastCaloSim/LinkDef.h
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSLateralShapeParametrizationFixedHitChain.cxx
  source/Core/TFCSMLCalorimeterSimulator.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
Labels: none

Geo adaptations
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSVoxelHistoLateralCovarianceFluctuations.h
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSLateralShapeParametrizationFixedHitChain.cxx
  source/Core/TFCSMLCalorimeterSimulator.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
Labels: none

Add HDF5 find_package
  CMakeLists.txt
Labels: cmake

Add binned shower classes to LinkDef.h
  include/FastCaloSim/LinkDef.h
Labels: none

Add missing LinkDef.h entries
  include/FastCaloSim/LinkDef.h
Labels: none

Fix linker error
  source/Core/TFCSLateralShapeParametrizationHitChain.cxx
Labels: none

Fix TFCSLateralShapeParametrizationHitChain
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitBase.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitChain.h
  source/Core/TFCSLateralShapeParametrizationHitChain.cxx
Labels: none

Add find_package(MPI) for key4hep
  CMakeLists.txt
Labels: cmake

Add find_package(MPI) for key4hep
  CMakeLists.txt
Labels: cmake

Testing
  CMakeLists.txt
Labels: cmake

Testing
  CMakeLists.txt
Labels: cmake

Remove unnecessary includes
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerBase.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSMLCalorimeterSimulator.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
Labels: none

Move common hit settings to base, add assertions on setters
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerBase.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
Labels: none

Default-initialize m_geo to nullptr in binned-shower classes
  include/FastCaloSim/Core/TFCSBinnedShowerBase.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Core/TFCSVoxelHistoLateralCovarianceFluctuations.h
Labels: none

Guard EventNr against out-of-range values in TFCSBinnedShower
  source/Core/TFCSBinnedShower.cxx
Labels: none

Null-check BSEventData before dereference in binned-shower classes
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
Labels: none

Guard FCSHitChainNHits aux-info lookup in FixedHitChain
  source/Core/TFCSLateralShapeParametrizationFixedHitChain.cxx
Labels: none

Harden TFCSMLCalorimeterSimulator against missing/failed model loads
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  source/Core/TFCSMLCalorimeterSimulator.cxx
Labels: none

Check all voxel outputs for NaN and handle empty ML results
  source/Core/TFCSMLCalorimeterSimulator.cxx
Labels: none

Fail loudly on missing voxel keys in TFCSMLCalorimeterSimulator::getEvent
  source/Core/TFCSMLCalorimeterSimulator.cxx
Labels: none
