Repository fcs-proj/FastCaloSim, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-build, workflows, tests, parametrization, cmake

.github/labeler.yml:

docker-build:
- changed-files:
  - any-glob-to-any-file:
    - docker/**

workflows:
- changed-files:
  - any-glob-to-any-file:
    - workflows/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

parametrization:
- changed-files:
  - any-glob-to-any-file:
    - parametrization/**

cmake:
- changed-files:
  - any-glob-to-any-file:
    - cmake/**
  - any-glob-to-any-file:
    - '**/CMake*.txt'

Migrate RTree to libspatialindex (#74)
  CMakeLists.txt
  cmake/modules/Findlibspatialindex.cmake
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/RTree.h
  include/FastCaloSim/Geometry/RTreeBuilder.h
  include/FastCaloSim/Geometry/RTreeHelpers.h
  include/FastCaloSim/Geometry/RTreeQuery.h
  source/Geometry/CaloGeo.cxx
  source/Geometry/RTree.cxx
  source/Geometry/RTreeBuilder.cxx
  source/Geometry/RTreeQuery.cxx
  test/CMakeLists.txt
  test/include/AtlasGeoTests.h
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta145/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta145/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid211_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta145/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta200/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E131072_eta320/simulated_cell_energy.png
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta145/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/sim_state_data.json
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.gif
  test/refs/AtlasSimulation/AtlasSimTests_AtlasSimulation/pid22_E16384_eta320/simulated_cell_energy.png
Labels: tests, cmake

Make spatialindex public
  CMakeLists.txt
Labels: cmake

deploy: d89f1ee97ec23904f79fe58fc37385e5f0730080
  RTreeBuilder_8h.html
  RTreeHelpers_8h.html
  RTreeQuery_8h.html
  RTree_8h.html
  annotated.html
  classCaloGeo.html
  classRTreeBuilder.html
  classRTreeQuery.html
  dir_d22115def6822a1b9973e90174884e74.html
  files.html
  namespaceRTreeHelpers.html
  searchdata-v1.js
Labels: none

Test
  CMakeLists.txt
  cmake/modules/Findlibspatialindex.cmake
Labels: cmake

Test (#75)
  CMakeLists.txt
  cmake/modules/Findlibspatialindex.cmake
Labels: cmake

Save cell info in R-tree
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/Cell.h
  include/FastCaloSim/Geometry/RTree.h
  include/FastCaloSim/Geometry/RTreeBuilder.h
  include/FastCaloSim/Geometry/RTreeQuery.h
  source/Core/TFCSEnergyRenormalization.cxx
  source/Core/TFCSHitCellMapping.cxx
  source/Core/TFCSHitCellMappingFCal.cxx
  source/Core/TFCSSimulationState.cxx
  source/Geometry/CaloGeo.cxx
  source/Geometry/RTree.cxx
  source/Geometry/RTreeBuilder.cxx
  source/Geometry/RTreeQuery.cxx
  test/TestHelpers/SimStateContainer.h
  test/source/SimStateTests.cxx
Labels: tests

Make cell data trivially copiable
  include/FastCaloSim/Geometry/Cell.h
  source/Geometry/CellStoreBuilder.cxx
Labels: none

Remove CellStoreBuilder
  source/Geometry/CellStoreBuilder.cxx
Labels: none

Add raw CellData accessor
  include/FastCaloSim/Geometry/Cell.h
Labels: none

Make cell data trivially copiable (#77)
  include/FastCaloSim/Geometry/Cell.h
Labels: none

deploy: 399d11d65a4337396098aea823ac03b3a09dc510
  annotated.html
  classCell.html
  searchdata-v1.js
  structCellData.html
  structPosition.html
Labels: none

Memory map cell store
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/Cell.h
  include/FastCaloSim/Geometry/CellStore.h
  include/FastCaloSim/Geometry/CellStoreBuilder.h
  source/Geometry/CaloGeo.cxx
  test/include/AtlasGeoTests.h
Labels: tests

Fixes
  include/FastCaloSim/Geometry/Cell.h
  include/FastCaloSim/Geometry/CellStore.h
  include/FastCaloSim/Geometry/CellStoreBuilder.h
  source/Geometry/CaloGeo.cxx
Labels: none

Minor improvements
  include/FastCaloSim/Geometry/CellStore.h
  source/Geometry/CaloGeo.cxx
Labels: none

Fix
  include/FastCaloSim/Geometry/CellStore.h
  source/Geometry/CaloGeo.cxx
Labels: none

Memory map cell store (#78)
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/Cell.h
  include/FastCaloSim/Geometry/CellStore.h
  include/FastCaloSim/Geometry/CellStoreBuilder.h
  source/Geometry/CaloGeo.cxx
  test/include/AtlasGeoTests.h
Labels: tests

deploy: f87d0204a36c8f76c02f9cc44e7b496c64b1c6ed
  CellStoreBuilder_8h.html
  CellStore_8h.html
  annotated.html
  classCaloGeo.html
  classCell.html
  classCellStore.html
  classCellStoreBuilder.html
  files.html
  searchdata-v1.js
Labels: none

Add LRU caching for CellStore
  include/FastCaloSim/Geometry/CellCache.h
  include/FastCaloSim/Geometry/CellStore.h
  include/FastCaloSim/Geometry/CellStoreBuilder.h
Labels: none

deploy: c96dd9d19d5c1b30d441929fa6b4e60b6d025f33
  CellCache_8h.html
  annotated.html
  classCellStore.html
  classcache_1_1CellCache.html
  files.html
  namespacecache.html
  namespaces.html
  searchdata-v1.js
Labels: none

Make cell store cache configurable
  include/FastCaloSim/Geometry/CaloGeo.h
  include/FastCaloSim/Geometry/CellStore.h
  source/Geometry/CaloGeo.cxx
  test/include/AtlasGeoTests.h
Labels: tests

deploy: f9675bc07271feb7273a267e27a2fb149a778556
  classCaloGeo.html
  classCellStore.html
  searchdata-v1.js
Labels: none

Make get_cell virtual
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
Labels: tests

Fixes
  include/FastCaloSim/Geometry/CaloGeo.h
Labels: none

Fixes
  source/Geometry/CaloGeo.cxx
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
  test/include/AtlasGeoTests.h
Labels: tests

Make get_cell virtual instead of get_cell_id (#79)
  include/FastCaloSim/Geometry/CaloGeo.h
  source/Geometry/CaloGeo.cxx
  test/TestPlugins/ATLAS/ATLASFCalGeoPlugin/include/ATLASFCalGeoPlugin/FCal.h
  test/include/AtlasGeoTests.h
Labels: tests

deploy: 2f1a3dc8dcafa38f35048d2974e8cf2e41c7f2bd
  classCaloGeo.html
  searchdata-v1.js
Labels: none

Remove version in CMAKE_INSTALL_INCLUDEDIR
  cmake/install-rules.cmake
Labels: cmake

Remove version in CMAKE_INSTALL_INCLUDEDIR (#80)
  cmake/install-rules.cmake
Labels: cmake

Add legacy param support
  test/TestHelpers/LegacyCompatibility.h
  test/include/BasicSimTests.h
Labels: tests

Bump to actions/checkout@v6
  .github/workflows/docker-build.yml
  .github/workflows/pipeline.yml
Labels: none

Bump to actions/checkout@v6 (#82)
  .github/workflows/docker-build.yml
  .github/workflows/pipeline.yml
Labels: none

deploy: f354b5d907f411993aa544788b7b7436f7011ee8
  searchdata-v1.js
Labels: none

Install ROOT dictionary files to lib/
  CMakeLists.txt
  cmake/install-rules.cmake
Labels: cmake

Install ROOT dictionary files to lib/ (#83)
  CMakeLists.txt
  cmake/install-rules.cmake
Labels: cmake

deploy: 727cef6a6c1cf2bad64d3f28b673cbc54f19255b
  searchdata-v1.js
Labels: none

Add HDF5 support
  docker/alma9/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Update to onnxruntime 1.24.4
  docker/alma9/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Update to alma10
  .devcontainer/devcontainer.json
  .github/workflows/docker-build.yml
  .github/workflows/pipeline.yml
  README.md
  apptainer.sh
  docker/alma10/Dockerfile
  docker/alma10/extra_packages.txt
  docker/alma10/python_packages.txt
  docker/alma10/root_dependencies.txt
Labels: docker-build

Revert to alma9 for key4hep image
  .github/workflows/pipeline.yml
Labels: none

Fix comment
  .devcontainer/devcontainer.json
Labels: none
