Repository fcs-proj/FastCaloSim, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-build, workflows, tests, parametrization, cmake

fix(lib): Propagate geometry to TFCSEnergyAndHitGANV2's own chain in set_geometry
  include/FastCaloSim/Core/TFCSEnergyAndHitGANV2.h
Labels: none

fix(lib): Propagate geometry to TFCSEnergyAndHitGANV2's own chain in set_geometry (#100)
  include/FastCaloSim/Core/TFCSEnergyAndHitGANV2.h
Labels: none

fix(lib): Reset Geant4 propagator, chord-finder and navigator state per transport() call
  source/Transport/G4CaloTransportTool.cxx
Labels: none

fix(lib): Reset navigator stack/state in transport() to fully clear stuck-track push state
  source/Transport/G4CaloTransportTool.cxx
Labels: none

fix(lib): Reset navigator stack/state in transport() to fully clear stuck-track push state (#102)
  source/Transport/G4CaloTransportTool.cxx
Labels: none

fix(lib): Construct a fresh navigator/propagator per transport() call for ST/MT reproducibility
  include/FastCaloSim/Transport/G4CaloTransportTool.h
  source/Transport/G4CaloTransportTool.cxx
Labels: none

Remove ThreadLocalHolder
  include/FastCaloSim/Transport/ThreadLocalHolder.h
Labels: none

fix(lib): Construct a fresh navigator/propagator per transport() call for ST/MT reproducibility (#103)
  include/FastCaloSim/Transport/G4CaloTransportTool.h
  include/FastCaloSim/Transport/ThreadLocalHolder.h
  source/Transport/G4CaloTransportTool.cxx
Labels: none

fix(lib): Initialize dummy query positions in extrapolateToLayers
  source/Extrapolation/FastCaloSimCaloExtrapolation.cxx
Labels: none

deploy: 291ff460ecedf77ea61aafe84ccb47c08f76c5b8
  ThreadLocalHolder_8h.html
  annotated.html
  classthread__utils_1_1ThreadLocalHolder.html
  classthread__utils_1_1ThreadLocalOwner.html
  dir_945a3893c9bdffdccd279dcc68fd0c46.html
  files.html
  namespaces.html
  namespacethread__utils.html
  pages.html
  searchdata-v1.js
  todo.html
Labels: none

fix(lib): Initialize dummy query positions in extrapolateToLayers (#104)
  source/Extrapolation/FastCaloSimCaloExtrapolation.cxx
Labels: none

add prints
  source/Extrapolation/FastCaloSimCaloExtrapolation.cxx
  source/Geometry/CaloGeo.cxx
Labels: none

Testing
  include/FastCaloSim/Core/FCSDebugPrint.h
  source/Extrapolation/FastCaloSimCaloExtrapolation.cxx
  source/Geometry/CaloGeo.cxx
Labels: none

Testing
  include/FastCaloSim/Core/FCSDebugPrint.h
  source/Transport/G4CaloTransportTool.cxx
Labels: none

Testing
  source/Transport/G4CaloTransportTool.cxx
Labels: none

Testing
  source/Transport/G4CaloTransportTool.cxx
Labels: none

Testing
  source/Transport/G4CaloTransportTool.cxx
Labels: none

fix(lib): Set equation-of-motion charge/momentum/mass per transport() call for ST/MT reproducibility
  source/Transport/G4CaloTransportTool.cxx
Labels: none

fix(lib): Set equation-of-motion charge/momentum/mass per transport() call for ST/MT reproducibility (#105)
  source/Transport/G4CaloTransportTool.cxx
Labels: none

fix(lib): Port upstream Athena improvements
  include/FastCaloSim/Core/TFCS1DFunctionHistogram.h
  include/FastCaloSim/Core/TFCS1DFunctionRegressionTF.h
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSEnergyAndHitGANV2.h
  include/FastCaloSim/Core/TFCSFlatLateralShapeParametrization.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
  include/FastCaloSim/Core/TFCSHitCellMappingWiggle.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationFluctChain.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitBase.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Core/TFCSVoxelHistoLateralCovarianceFluctuations.h
  include/FastCaloSim/Extrapolation/FastCaloSimCaloExtrapolation.h
  param/include/FastCaloSimParam/FCS_Cell.h
  source/Core/TFCS1DFunction.cxx
  source/Core/TFCS1DFunctionHistogram.cxx
  source/Core/TFCS1DFunctionRegression.cxx
  source/Core/TFCS2DFunction.cxx
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSEnergyAndHitGANV2.cxx
  source/Core/TFCSEnergyBinParametrization.cxx
  source/Core/TFCSGANEtaSlice.cxx
  source/Core/TFCSGANLWTNNHandler.cxx
  source/Core/TFCSGANXMLParameters.cxx
  source/Core/TFCSHitCellMappingWiggle.cxx
  source/Core/TFCSMLCalorimeterSimulator.cxx
  source/Core/TFCSNetworkFactory.cxx
  source/Core/TFCSONNXHandler.cxx
  source/Core/TFCSParametrizationBase.cxx
  source/Core/TFCSParametrizationChain.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSSimpleLWTNNHandler.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
  source/Core/VNetworkLWTNN.cxx
Labels: none

Improve code robustness
  include/FastCaloSim/Core/TFCS1DFunctionHistogram.h
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSHitCellMappingWiggle.h
  source/Core/TFCS1DFunctionHistogram.cxx
  source/Core/TFCSGANEtaSlice.cxx
  source/Core/TFCSGANXMLParameters.cxx
Labels: none

Port upstream Athena improvements from main (#106)
  include/FastCaloSim/Core/TFCS1DFunctionHistogram.h
  include/FastCaloSim/Core/TFCS1DFunctionRegressionTF.h
  include/FastCaloSim/Core/TFCSBinnedShower.h
  include/FastCaloSim/Core/TFCSBinnedShowerONNX.h
  include/FastCaloSim/Core/TFCSEnergyAndHitGANV2.h
  include/FastCaloSim/Core/TFCSFlatLateralShapeParametrization.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
  include/FastCaloSim/Core/TFCSHitCellMappingWiggle.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationFluctChain.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitBase.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Core/TFCSVoxelHistoLateralCovarianceFluctuations.h
  include/FastCaloSim/Extrapolation/FastCaloSimCaloExtrapolation.h
  param/include/FastCaloSimParam/FCS_Cell.h
  source/Core/TFCS1DFunction.cxx
  source/Core/TFCS1DFunctionHistogram.cxx
  source/Core/TFCS1DFunctionRegression.cxx
  source/Core/TFCS2DFunction.cxx
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSEnergyAndHitGANV2.cxx
  source/Core/TFCSEnergyBinParametrization.cxx
  source/Core/TFCSGANEtaSlice.cxx
  source/Core/TFCSGANLWTNNHandler.cxx
  source/Core/TFCSGANXMLParameters.cxx
  source/Core/TFCSHitCellMappingWiggle.cxx
  source/Core/TFCSMLCalorimeterSimulator.cxx
  source/Core/TFCSNetworkFactory.cxx
  source/Core/TFCSONNXHandler.cxx
  source/Core/TFCSParametrizationBase.cxx
  source/Core/TFCSParametrizationChain.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSSimpleLWTNNHandler.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
  source/Core/VNetworkLWTNN.cxx
Labels: none

deploy: 161a471c51180c533af02c3d14ca997a780a0420
  classTFCS1DFunctionHistogram.html
  classTFCSBinnedShower.html
  classTFCSBinnedShowerONNX.html
  classTFCSEnergyAndHitGANV2.html
  classTFCSGANEtaSlice.html
  classTFCSGANXMLParameters.html
  classTFCSHitCellMappingWiggle.html
  classTFCSMLCalorimeterSimulator.html
  classTFCSPhiModulationCorrection.html
  searchdata-v1.js
Labels: none

fix(lib): Add explicit version selector to MLogging rename read rule
  include/FastCaloSim/LinkDef.h
Labels: none

fix(lib): Restore ClassDefOverride to eliminate -Winconsistent-missing-override warningsÃ
  include/FastCaloSim/Core/DoubleArray.h
  include/FastCaloSim/Core/IntArray.h
  include/FastCaloSim/Core/TFCS1DFunction.h
  include/FastCaloSim/Core/TFCS1DFunctionHistogram.h
  include/FastCaloSim/Core/TFCS1DFunctionInt16Histogram.h
  include/FastCaloSim/Core/TFCS1DFunctionInt32Histogram.h
  include/FastCaloSim/Core/TFCS1DFunctionRegression.h
  include/FastCaloSim/Core/TFCS1DFunctionRegressionTF.h
  include/FastCaloSim/Core/TFCS1DFunctionSpline.h
  include/FastCaloSim/Core/TFCS1DFunctionTemplateHistogram.h
  include/FastCaloSim/Core/TFCS1DFunctionTemplateInterpolationHistogram.h
  include/FastCaloSim/Core/TFCS2DFunction.h
  include/FastCaloSim/Core/TFCS2DFunctionHistogram.h
  include/FastCaloSim/Core/TFCS2DFunctionTemplateHistogram.h
  include/FastCaloSim/Core/TFCS2DFunctionTemplateInterpolationExpHistogram.h
  include/FastCaloSim/Core/TFCS2DFunctionTemplateInterpolationHistogram.h
  include/FastCaloSim/Core/TFCSExtrapolationState.h
  include/FastCaloSim/Core/TFCSFunction.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
  include/FastCaloSim/Core/TFCSMLCalorimeterSimulator.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  include/FastCaloSim/Core/TFCSSimulationState.h
  include/FastCaloSim/Core/TFCSTruthState.h
  include/FastCaloSim/Core/VNetworkBase.h
Labels: none

deploy: 01f8bf700cd621e04207957b1b4f1d4659aad664
  ISF__FastCaloSimEventDict_8h.html
  MLogging_8h.html
  TFCSParametrizationBase_8h.html
  annotated.html
  classFastCaloSimCaloExtrapolation.html
  classFastCaloSim_1_1MLogging.html
  classParticleData_1_1Provider.html
  classTFCSExtrapolationState.html
  classTFCSFunction.html
  classTFCSGANEtaSlice.html
  classTFCSGANXMLParameters.html
  classTFCSLateralShapeParametrizationHitChain.html
  classTFCSMLCalorimeterSimulator.html
  classTFCSParametrizationBase.html
  classTFCSSimulationState.html
  classTFCSTruthState.html
  classVNetworkBase.html
  dir_f53789fc1a2c3da2e63c760ac6630d4b.html
  files.html
  index.html
  namespaceFastCaloSim.html
  namespaceFastCaloSim_1_1MSG.html
  namespaces.html
  searchdata-v1.js
Labels: none

Bump TFCSGANXMLParameters class def version to 3
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
Labels: none

fix(cmake): Strip dict target from static lib export interface (ROOT >=6.40)
  CMakeLists.txt
Labels: cmake

deploy: 1c9193b9308baa2452f4a1f4bcda854878d8a8e6
  searchdata-v1.js
Labels: none

Fix missing <cmath>/TMath.h includes for gcc15 + ROOT 6.40
  include/FastCaloSim/Core/TFCS2DFunctionTemplateInterpolationExpHistogram.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitBase.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Geometry/MeanAndRMS.h
  source/Core/TFCS1DFunctionHistogram.cxx
  source/Core/TFCS1DFunctionInt16Histogram.cxx
  source/Core/TFCS1DFunctionInt32Histogram.cxx
  source/Core/TFCS2DFunctionHistogram.cxx
  source/Core/TFCS2DFunctionLateralShapeParametrization.cxx
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSEnergyAndHitGANV2.cxx
  source/Core/TFCSEnergyInterpolationPiecewiseLinear.cxx
  source/Core/TFCSEnergyInterpolationSpline.cxx
  source/Core/TFCSFlatLateralShapeParametrization.cxx
  source/Core/TFCSHistoLateralShapeParametrizationFCal.cxx
  source/Core/TFCSHitCellMappingWiggle.cxx
  source/Core/TFCSLateralShapeParametrizationHitNumberFromE.cxx
  source/Core/TFCSParametrizationAbsEtaSelectChain.cxx
  source/Core/TFCSParametrizationEkinSelectChain.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
Labels: none

Fix missing <cmath>/TMath.h includes for gcc15 + ROOT 6.40 (#109)
  include/FastCaloSim/Core/TFCS2DFunctionTemplateInterpolationExpHistogram.h
  include/FastCaloSim/Core/TFCSLateralShapeParametrizationHitBase.h
  include/FastCaloSim/Core/TFCSPhiModulationCorrection.h
  include/FastCaloSim/Geometry/MeanAndRMS.h
  source/Core/TFCS1DFunctionHistogram.cxx
  source/Core/TFCS1DFunctionInt16Histogram.cxx
  source/Core/TFCS1DFunctionInt32Histogram.cxx
  source/Core/TFCS2DFunctionHistogram.cxx
  source/Core/TFCS2DFunctionLateralShapeParametrization.cxx
  source/Core/TFCSBinnedShower.cxx
  source/Core/TFCSBinnedShowerBase.cxx
  source/Core/TFCSBinnedShowerONNX.cxx
  source/Core/TFCSEnergyAndHitGANV2.cxx
  source/Core/TFCSEnergyInterpolationPiecewiseLinear.cxx
  source/Core/TFCSEnergyInterpolationSpline.cxx
  source/Core/TFCSFlatLateralShapeParametrization.cxx
  source/Core/TFCSHistoLateralShapeParametrizationFCal.cxx
  source/Core/TFCSHitCellMappingWiggle.cxx
  source/Core/TFCSLateralShapeParametrizationHitNumberFromE.cxx
  source/Core/TFCSParametrizationAbsEtaSelectChain.cxx
  source/Core/TFCSParametrizationEkinSelectChain.cxx
  source/Core/TFCSPhiModulationCorrection.cxx
  source/Core/TFCSVoxelHistoLateralCovarianceFluctuations.cxx
Labels: none

fix(cmake): Normalize libspatialindex::spatialindex target for installed-config path
  cmake/modules/Findlibspatialindex.cmake
Labels: cmake

deploy: 5f8080bbe09fa289e151664e157a1fadea04518c
  searchdata-v1.js
Labels: none

fix(lib): Fix intermittent crashes on parametrization file close (ATLASSIM-7031)
  include/FastCaloSim/Core/TFCSEnergyAndHitGANV2.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  source/Core/TFCSEnergyAndHitGANV2.cxx
  source/Core/TFCSGANEtaSlice.cxx
  source/Core/TFCSGANXMLParameters.cxx
  source/Core/TFCSParametrizationChain.cxx
Labels: none

Minor improvement
  source/Core/TFCSParametrizationChain.cxx
Labels: none

fix(lib): Fix intermittent crashes on parametrization file close (ATLASSIM-7031) (#110)
  include/FastCaloSim/Core/TFCSEnergyAndHitGANV2.h
  include/FastCaloSim/Core/TFCSGANEtaSlice.h
  include/FastCaloSim/Core/TFCSGANXMLParameters.h
  include/FastCaloSim/Core/TFCSParametrizationBase.h
  source/Core/TFCSEnergyAndHitGANV2.cxx
  source/Core/TFCSGANEtaSlice.cxx
  source/Core/TFCSGANXMLParameters.cxx
  source/Core/TFCSParametrizationChain.cxx
Labels: none

deploy: ccbadb9d9f47ec786ccb0cfd544154cf79cdaa93
  classTFCSEnergyAndHitGANV2.html
  classTFCSGANEtaSlice.html
  classTFCSGANXMLParameters.html
  classTFCSParametrizationBase.html
  searchdata-v1.js
Labels: none

Update dev containers, LCG matrix and key4hep to current versions
  .github/workflows/pipeline.yml
  docker/alma10/Dockerfile
  docker/ubuntu24/Dockerfile
Labels: docker-build

Extract plotting deps to requirements.txt
  .github/workflows/pipeline.yml
  test/python/requirements.txt
Labels: tests

Pin clang-format
  cmake/lint.cmake
  docker/alma10/python_packages.txt
  docker/ubuntu24/python_packages.txt
Labels: docker-build, cmake

.github/labeler.yml:

docker-build:
- changed-files:
  - any-glob-to-any-file:
    - docker/**

workflows:
- changed-files:
  - any-glob-to-any-file:
    - workflows/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

parametrization:
- changed-files:
  - any-glob-to-any-file:
    - parametrization/**

cmake:
- changed-files:
  - any-glob-to-any-file:
    - cmake/**
  - any-glob-to-any-file:
    - '**/CMake*.txt'
